<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TerMapper">
    <insert id="insert" parameterType="com.example.demo.models.TerDto">
        INSERT INTO busdb.tbl_ter (terId, terRegion, terName, terCoorX, terCoorY)
        VALUES (#{terId}, #{terRegion}, #{terName}, #{terCoorX}, #{terCoorY})
    </insert>
    <delete id="deleteAll">
        DELETE FROM busdb.tbl_ter;
    </delete>
    <select id="selectAll" resultType="com.example.demo.models.TerDto">
        SELECT * FROM busdb.tbl_ter;
    </select>
    <select id="getTerById" parameterType="String" resultType="com.example.demo.models.TerDto">
        SELECT * FROM busdb.tbl_ter WHERE terId = #{terId};
    </select>
    <select id="getTerByRegion" parameterType="String" resultType="com.example.demo.models.TerDto">
        SELECT  * FROM busdb.tbl_ter WHERE terRegion = #{terRegion};
    </select>
</mapper>
