<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TerScheduleMapper">
    <insert id="insert" parameterType="com.example.demo.models.TerScheduleDto">
        INSERT INTO busdb.tbl_terschedule (tes_TdId, tes_schedule)
        VALUES (#{tes_TdId}, #{tes_Schedule})
    </insert>
    <delete id="deleteAll">
        DELETE FROM busdb.tbl_terschedule;
    </delete>
    <select id="getTerScheduleByTl_Id" parameterType="String" resultType="com.example.demo.models.TerScheduleDto">
        SELECT * FROM busdb.tbl_terschedule WHERE tes_TdId = #{terDriveId}
    </select>
</mapper>